*{
    margin:0;
}
body >div{
    width : 80%;
    margin-right : 10%;
    margin-left : 10%;
}
header{
    border:1px solid black;
    font-size:50px;
    text-align:center;
}
nav{
    border: 1px solid green;
}
nav div {
    text-align:center;
}
nav div p{
    display: inline-block;
    font-size:40px;
    border: 1px solid green;
    text-align: center;
}

section{
    margin-left : 20%;
    border: 1px solid blue;
}
section div{
    display: inline-block;
    overflow: hidden;
    width:200px;
    height:200px;
    border:1px solid black;
}
aside{
    width:20%;
    float: left;
    border: 1px solid purple;
}
footer{
    border: 3px solid pink;
}
body{ 
    font-family: "Lato", sans-serif;
}
        
.topnav{  /*화면메뉴상태*/
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #223;
    overflow-x: hidden;
    transition: 0.2s;
}
        
.topnav > a{ /*topnav 내의 아이템들 설정*/
    margin: 0 auto;
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
        
.topnav a:hover{
    color: #f1f1f1;
}
        
.topnav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
        
@media screen and (max-height: 450px){
    .topnav {padding-top: 15px;}
    .topnav a {font-size: 18px;}
}